version: '3.8'

services:
  gsctracker:
    build: .
    container_name: gsctracker
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=UTC
    volumes:
      - ./data:/data
